@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.main_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
    margin-left: 2%;
    
    
    }

    .fixed{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        position: fixed;
        background: rgb(255, 255, 255);
        justify-content:center;
        border-bottom: 1px solid #b6b6b6 ;
        z-index: 9000;
       }
    
     
    
    .logo{
        width: 100%;
          
        }

        .logo img{width: 85%;
          
     
             }




.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    
   
    }

    .logo_titulo{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        margin-top: 15%;
        width: 64%;}

.logo_titulo1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    width: 64%;
   
}

.logo_titulo1 p{
    margin-top: 5%;
   
}

.logotipo{
    border-radius: 85%;
    border: 0.5px solid black;
    margin-bottom: 8%;
    width: 25%;
}

.emblema p{
    font-family: roboto;
    margin-bottom: 20%;
    margin-top: 40%;
    padding: 5%;
    font-weight: 400;
    font-size: 18px;
    
 }



 .logo_titulo h1{
    font-size: 64px;
    font-family: Josefin Sans;
    font-weight: 700;
    margin-bottom: 5%;
   
 }

 p {font-size: 22px;
    text-align: left;
    line-height: 140%;
    font-weight: 300;
    margin-left: 1%;
    
}


span {
    font-weight: 700;
}

 img {
    width: 360px;
        margin: 20px;
        border-radius: 1%;
     }


        img {object-fit:cover;
     
}

.flex-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    
}

.flex-container1 p{width: 45%;
                    padding: 1%;}


.epigrafes{
            width: 360px;
            padding: 2%;
            }

            .epigrafes p{
                font-size: 18px;
                }

            

.flex-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    gap: 1%;

}
 

.contenedor {display: flex;
    flex-direction: row;
    position: relative;
    width: 380px;
    height: 560px;
    z-index: 1500; /* Ajusta el tamaño máximo de acuerdo a tus necesidades */
  }
  
  .contenedor img {
    display: block;
    width: 100%;
    height: auto;
  }

  .texto0{height: 15%;
    width: 90%;
    position: absolute;
    margin-left: 0%;
    top: 80%;
    left: 55%;
    transform: translate(-54.5%, -2%);
    
    padding: 6px;
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
    padding: 2px; /* Espacio alrededor del texto */}
  
  .texto {height: 15%;
    width: 95%;
    position: absolute;
    margin-left: 1%;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -2%);
    
    padding: 6px;
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
    padding: 2px; /* Espacio alrededor del texto */
   
  }
  

  .texto0 h1,
  .texto0 p {width: 100%;
    font-size: 20px;
    text-align:center;
  }
  .texto h1,
  .texto p {width: 100%;
    font-size: 20px;
    text-align:center;
  }
  

.metro3 img{width: 360px;}
  
  



.return {margin-top: 1%;
    margin-left: 72%;
    padding: 4%;}

@media screen and (max-width: 565px)
  
  
{
    body{
        font-size: 14px;
        font-family: Roboto;}

        .main_container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:center;
            text-align: center;
            margin-left: 2%;
            
            
            }

            
.head{
        
    width: 100%;
    height: 20%;
    background: #ffffff;
    position: fixed;
    z-index: 3000;
    align-items: start;
    border-bottom: 1px solid #b6b6b6 ;
  
    }

.head {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   }

   .logo {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   }



.logo img{width: 82%;
       margin-top: 10.5%;
       margin: 0 auto;

        }
        
            .fixed{
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                position: fixed;
                background: rgb(255, 255, 255);
                justify-content:center;
                border-bottom: 1px solid #b6b6b6 ;
                z-index: 9000;
               }
            
             
            
            
             
                     
        
        
        
        
        .flex-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1%;
            
           
            }
        
            .logo_titulo{display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
        
                margin-top: 46%;
                width: 86%;}
        
        .logo_titulo1{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 25%;
            width: 96%;
           
        }
        
        .logotipo{
            border-radius: 85%;
            border: 0.5px solid black;
            margin-bottom: 3%;
            width: 25%;
        }
        
        .emblema p{
            font-family: roboto;
            margin-bottom: 18%;
            margin-top: 2%;
            padding: 5%;
            font-weight: 400;
            font-size: 14px;
            
         }
        
        
        
         .logo_titulo h1{
            font-size: 42px;
            font-family: Josefin Sans;
            font-weight: 700;
            margin-bottom: 5%;
           
         }
        
         p {font-size: 20px;
            text-align: left;
            line-height: 140%;
            font-weight: 300;
            margin-left: 1%;
            width: 95%;
           
            
        }
        
        
        span {
            font-weight: 700;
        }
        
         img {
            width: 360px;
                margin: 20px;
                border-radius: 1%;
             }
        
        img {object-fit:cover;
             
        }

     
        
        .flex-container1{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2%;
            
        }
        
        .flex-container1 p{width: 86%;
                            padding: 1%;}
        
        .epigrafes{
                    width: 360px;
                    padding: 2%;
                    }
        
                    .epigrafes p{
                        font-size: 18px;
                        }
        
                    
        
        .flex-container2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2%;
        
        }
         
        
        .contenedor {display: flex;
            flex-direction: row;
            position: relative;
            width: 360px;
            height: 560px;
            z-index: 1500; /* Ajusta el tamaño máximo de acuerdo a tus necesidades */
            margin-bottom: 5%;
          }
          
          .contenedor img {
            display: block;
            width: 100%;
            height: auto;
          
          }

         .location{

            width: 85%;
         }
          
         .texto0{height: 15%;
            width: 90%;
            position: absolute;
            margin-left: 0%;
            top: 80%;
            left: 55%;
            transform: translate(-50%, -2%);
            
            padding: 6px;
            color: white; /* Color del texto */
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
            padding: 2px; /* Espacio alrededor del texto */}
          .texto {height: 15%;
            width: 95%;
            position: absolute;
            margin-left: 1%;
            top: 80%;
            left: 55%;
            transform: translate(-50%, -2%);
            
            padding: 6px;
            color: white; /* Color del texto */
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
            padding: 2px; /* Espacio alrededor del texto */
           
          }
          
          .texto h1,
          .texto p {width: 100%;
            font-size: 20px;
            text-align:center;
            justify-content: center;
          }
          
        
        .metro3 img{width: 360px;
                    height: auto;}
          
          
        
        
        
        .return {margin-top: 1%;
            margin-left: 72%;
            padding: 4%;}
 }