@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

    body{
        font-size: 16px;
        font-family: Roboto;}

  .main_container{background: rgb(255, 255, 255);
                    width: 100%;
                    height: 100%;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                    
                    margin-left:  0%;
                    }
.head{
        width: 100%;
        height: 28%;
        background: #ffffff;
        position: fixed;
        z-index: 3000;
        align-items: start;
      
     
        border-bottom: 1px solid #b6b6b6 ;
      
      
        
   }

.head {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
       }



.logo img{width: 100%;
           margin-top: 10.5%;
    
            }
  
a{text-decoration: none;
    color: #000000;}



img{border-radius: 1%;}

.container2{ margin-top: 14%;
            }

.flexer{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0%;
    padding: 2%;
    margin-top: 0%;
   
    gap: 30px;
    width: 80%;
    margin-left: 2%;
    
    }

.flexer_1{
    width: 750px;
    height: 840px;
    border-bottom: 1px solid rgb(144, 144, 144);
    font-size: 36px;
}

.flexer_1 p{

    font-size: 22px;
    padding-bottom: 15px;
}

.flexer_1 img{
    width: 750px;
}

.flexer_2{
    width: 300px;
    height: 840px;
   margin-left: 2%;
    border-bottom: 1px solid rgb(144, 144, 144);
}

.flexer_2 img{
    width: 400px;
}

.block1{padding-bottom: 5px;}
.block1 h2{font-size: 36px;}

.block2{padding-bottom: 5px;}
.block2 h2{font-size: 30px;}

.block1-1{padding-bottom: 60px;}

.block2-1{padding-bottom: 40px;}


      .wrapper{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content:space-between;
        align-content: flex-start;
        padding: 5px;
        padding-top: 0%;
        margin: 2%;
        
        
       }

/*img{width: 400px;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 2%;
    object-fit:cover;}*/



.one{background: rgb(255, 255, 255);
    width:  360px;
    height: 360px;
    align-content: space-between;
    padding: 10px;
    margin: 20px;
    
    
    }
.one_1{margin-bottom: 15px;}
.one_2 img{width: 100%;}


 .two{background: rgb(255, 255, 255);
        width: 360px;
        height: 360px;
        align-content: space-around;
        padding: 10px;
        margin: 20px;
       }

.two_2 img{width: 100%;}



.three{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 10px;
    margin: 20px;
    }


.three_2 img{width: 100%;}


.four{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 10px;
    margin: 20px;
    }

.four_2 img{width: 100%;}


.five{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 10px;
    margin: 20px;
}

.five_2 img{width: 85%;
            
            }





.six{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 40px;
    }

.six_2 img{width: 100%;}
    
.seven{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 20px;
    }



        
       

      @media screen and (max-width: 595px)
  
  
  { 
    body{
        font-size: 14px;
        font-family: Roboto;}

        .main_container{background: rgb(255, 255, 255);
            width: 100%;
            height: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
            margin-left:  0%;
            }

.head{
        
        width: 100%;
        height: 25%;
        background: #ffffff;
        position: fixed;
        z-index: 3000;
        align-items: start;
        border-bottom: 1px solid #b6b6b6 ;
      
        }

.head {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
       }



.logo img{width: 100%;
           margin-top: 10.5%;
           margin: 0 auto;
    
            }
  
a{text-decoration: none;
    color: #000000;}



img{border-radius: 1%;}

.container2{ margin-top: 50%;
            justify-content: center;
      
            }

.flexer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0%;
    padding: 2%;
    margin-top: 0%;
   
    gap: 30px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
    }

.flexer_1{
    width: 100%;
    height: 60%;
   margin-left: 2%;
  padding-bottom: 5%;
    border-bottom: 1px solid rgb(144, 144, 144);
   
    
}

.flexer_1 h2{

    font-size: 32px;
   
}

.flexer_1 p{

    font-size: 20px;
    padding-bottom: 15px;
}

.flexer_1 img{
    width: 90%;
  
    
}

.flexer_2{
    width: 100%;
    height: 60%;
   margin-left: 2%;
    border-bottom: 1px solid rgb(144, 144, 144);
}

.flexer_2 img{
    width: 90%;
}

.block1{padding-bottom: 5px;}

.block2{padding-bottom: 5px;}

.block1-1{padding-bottom: 90px;}

.block2-1{padding-bottom: 40px;}


      .wrapper{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        justify-content:space-between;
        align-content: flex-start;
        padding: 5px;
        padding-top: 0%;
        margin: 2%;
        
        
       }



.one{
    background: rgb(255, 255, 255);
    width:  90%;
    align-content: space-between;
    padding: 10px;
    margin: 20px;
    }

.one_1{
    margin-bottom: 15px;
    }


.one_2 img{
    width: 90%;
    }


 .two{background: rgb(255, 255, 255);
        width: 90%;
        padding: 10px;
        margin: 20px;
       }

.two_2 img{width: 90%;}



.three{background: rgb(255, 255, 255);
    width: 90%;
    padding: 10px;
    margin: 20px;
    }


.three_2 img{width: 90%;}


.four{background: rgb(255, 255, 255);
    width: 90%;
    padding: 10px;
    margin: 20px;
    }

.four_2 img{width: 90%;}


.five{background: rgb(255, 255, 255);
    width: 90%;
    padding: 10px;
    margin: 20px;
}

.five_2 img{width: 90%;
            
            }





.six{background: rgb(255, 255, 255);
    width: 90%;
    padding: 20px;
    margin: 40px;
    }

.six_2 img{width: 90%;}
    
.seven{background: rgb(255, 255, 255);
    width: 90%;
    padding: 20px;
    margin: 20px;
    }



    
    }