@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .main_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        text-align: center;
        margin-left: 2%;
        font-family: roboto;
        background: #ededed;
        
        
        }
    
        .fixed{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            position: fixed;
            background: rgb(255, 255, 255);
            justify-content:center;
            border-bottom: 1px solid #b6b6b6 ;
            z-index: 9000;
           }
        
         
        
        .logo{
            width: 100%;
              
            }
    
            .logo img{width: 85%;
              
         
                 }
    
    
    .titulo{margin-top: 13%;
                display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 990px;
        
        padding: 2%;}


    .titulo h1 {font-size: 172px;
                font-family: Poppins;
                font-weight: 600;
                letter-spacing: 28px;}

        .titulo h4{font-size: 52px;
            font-family: Poppins;
            font-weight: 500;
            line-height: 60px;
            letter-spacing: 2px;}

.titulo p{    margin-top: 10%;
             font-size: 28px;
             padding: 4%;
            font-family: Roboto;
            font-weight: 500;
            line-height: 32px;
        max-width: 860px;
            z-index: 5000;
        color: white;}
 
    




.fotoPortada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1090px;
    margin-top: -16%;
    z-index: 4000;
   
    padding: 2%;
}

.kondy_1{

    width: 82%;
   
}
 

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    max-width: 56%;
   
    }

 
 img {
    width: 200px;
        margin: 20px;
        object-fit: cover;
     }


     .flex-container p{

        font-size: 24px;
        line-height: 36px;
        padding: 2%;
        font-weight: 300;
        text-align: left;

     }

     span{

        font-weight: 500;
     }

     .kondy_2{ width: 80%;}