@import url('https://fonts.googleapis.com/ css?family=Poppins: 100, 200, 300, 400, 500, 600, 700, 800,900');


*{margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

    body{
        font-size: 16px;}

  .main_container{background: rgb(255, 255, 255);
                    height: 100%;
                    padding: 2%;
                    
      }
.head{width: 100%;
        height: 20%;
        background: #ffffff;
        position: fixed;
        z-index: 3000;
        margin-top: -40px;
        padding-top: 40px ;
        
   }

.head {display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1f);
    
       }

.logo{
    grid-column: 2 / 3;
        grid-row: 1 / 2;}

.logo img{width: 70%;
    
            }
      

      .wrapper{display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        align-content: flex-start;
        padding: 20px;
        padding-top: 10%;
        margin: 2%;
        
       }

/*img{width: 400px;
    height: 250px;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 2%;
    object-fit:cover;}*/



.one{background: rgb(255, 255, 255);
    width:  600px;
    height: 600px;
    align-content: space-around;
    padding: 20px;
    margin: 40px;
    
    
    }
.one_1{margin-bottom: 15px;}
.one_2 img{width: 100%;}


 .two{background: rgb(255, 255, 255);
        width: 360px;
        height: 360px;
        align-content: space-around;
        padding: 20px;
        margin: 40px;
       }

.two_2 img{width: 100%;}



.three{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 40px;
    }


.three_2 img{width: 100%;}


.four{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 40px;
    }

.four_2 img{width: 100%;}


.five{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 40px;
}

.five_2 img{width: 85%;
            
            }





.six{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 40px;
    }

.six_2 img{width: 100%;}
    
.seven{background: rgb(255, 255, 255);
    width: 360px;
    height: 360px;
    align-content: space-around;
    padding: 20px;
    margin: 20px;
    }



        
        .container#blur.active {
        
            filter: blur(20px);
            pointer-events: none;
            user-select: none;
            
            }
        
        .container.content  
        {
        
        position: relative;
        
        max-width: 1000px;
        
        
        }
        
        h2
        
        {
        
        font-weight: 600;
        
        margin-bottom: 10px;
        
        color: #333;
        
        }
        
        .container .content img
        
        {
        
        max-width: 100%;
        display: block;
        
        }
         
        a{
          
            position: relative;
            padding: 5px 20px;
            display: inline-block;
            margin-top: 5px;
            text-decoration: none;
            color: #000000;
            background: #ffffff;
        
            }

    .close{
          
        position: relative;
        width: 100px;
        height: 60px;
        padding: 5px 20px;
        display: inline-block;
        margin-top: 100px;
        text-decoration: none;
        color: #ffffff;
        background: #000000;
    
        }

        
            #popup
        
            {
            
            position: fixed;
            
            top: 40%;
            
            Left: 50%;
            
            transform: translate(-50%,-50%);
            
            width: 800px;

            height: 600px;
            
            padding: 50px;
            
            box-shadow: 0 5px 30px rgba(0,0,0,.30);
            
            background: #fff;
        
            visibility: hidden;
        
            opacity: 0;
        
            transition: 0.5s;

            box-shadow: 1px 1px #c8c8c8;

            border-radius: 2%;

            z-index: 5000;
            }
         
            #popup.active{
             top: 50%;
             visibility: visible;
             opacity: 1;
             transition: 0.5s;
        
                }
  
  
      @media screen and (max-width: 595px)
  
  
  { 

    img{width: 100%;
        height: 100%;
        object-fit:contain;}

    .main_container{background: rgb(255, 255, 255);
                    height: 100%;
      
        }
    
        .wrapper{display: grid;
                 grid-template-columns: repeat(1, 1fr);
                 grid-gap: 10px;
                 grid-auto-rows: minmax(300px, auto);
                 margin: 2%;
                }

        .one{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 1;
        }

        .one{display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: minmax(200px, auto);}

        .one_1{background: white;
                grid-column: 1/2;
                grid-row: 1;}

                .one_2{background: white;
                    grid-column: 1/2;
                    grid-row: 2;
                  
                margin-bottom: 20%;}


        .two{background: rgb(255, 255, 255) ;
            grid-column: 1 / 2;
            grid-row: 2 ;
        }

        .two{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .two_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .two_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}

        .three{background: rgb(255, 255, 255);
            grid-column: 1 / 2 ;
            grid-row: 3;
        }

        .three{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .three_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .three_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}


        .four{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 4;
        }

        .four{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .four_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .four_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}


        .five{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 5;
        }

        .five{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .five_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .five_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}


        .six{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 6;
        }

        .six{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .six_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .six_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}


        .seven{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 7;
        }

        .seven{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .seven_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .seven_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}


        .eight{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 8;
        }

        .eight{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .eight_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .eight_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}


        .nine{background: rgb(255, 255, 255);
            grid-column: 1 / 2;
            grid-row: 9;
        }

        .nine{display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(200px, auto);}

        .nine_1{background: white;
            grid-column: 1/2;
            grid-row: 1;}

            .nine_2{background: white;
                grid-column: 1/2;
                grid-row: 2;
             margin-bottom: 20%;}

    
    }