@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

    body{
        font-size: 14px;
        font-family: Roboto;}

  .main_container{background: rgb(255, 255, 255);
                    width: 100%;
                    height: 100%;
                   display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                    
                    margin-left:  0%;
                    }
.head{
        width: 100%;
        height: 30%;
        background: #ffffff;
        position: fixed;
        z-index: 3000;
        align-items: start;
      
     
        border-bottom: 1px solid #b6b6b6 ;
      
      
        
   }

.head {display: flex;
    
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
       }


.logo img{width: 82%;
           margin-top: -3%;
    
            }
            .logo2 img{width: 90%;
                margin-top: 10.5%;
                padding: 25%;
                margin-left: 90%;
         
                 }
  
a{text-decoration: none;
    color: #000000;}

    



img{border-radius: 1%;}

.menu {position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #ececec;
    margin-bottom: -11%;
    width: 100%;
    height: 4%;
    font-size: 20px;
    border-bottom: 1px solid rgb(196, 195, 195);
  
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.container2{ margin-top: 14%;
            }

.flexer{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0%;
    padding: 2%;
    margin-top: 0%;
   
    gap: 30px;
    width: 80%;
    margin-left: 2%;
    
    }

.flexer_1{
    width: 750px;
    height: 840px;
    border-bottom: 1px solid rgb(144, 144, 144);
    font-size: 32px;
}

.flexer_1 p{

    font-size: 22px;
    padding-bottom: 15px;
    font-weight: 300;
    line-height: 24px;
}

.flexer_1 h6{

    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 500;
}

.flexer_1 img{
    width: 750px;
}

.flexer_2{
    width: 300px;
    height: 840px;
   margin-left: 2%;
    border-bottom: 1px solid rgb(144, 144, 144);
}

.flexer_2 img{
    width: 400px;
}

.block1{padding-bottom: 5px;}
.block1 h2{font-size: 28px;}

.block2{padding-bottom: 5px;
            margin-top: -15%;}
.block2 h2{font-size: 24px;}

.block1-1{padding-bottom: 60px;}

.block2-1{padding-bottom: 40px;}



         

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 10%;
   
    }

.div1{
    width: 360px;
    height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.div1 img{width: 100%;
            height: 365px;
       }

.divh6{width: 100%;
        height: 15%;
       /* margin-bottom: -6%;*/
    
    
}

.divh6 h5{font-size: 24px;
    line-height: 32px;
font-weight: 700;
padding: 2%;

}

.imagenesTotales{

    width: 100%;
    height: 50%;
    margin-top: -16%;
    
}
 
 img {
    width: 100%;
    height: auto;
    object-fit: cover;
        
     }

     .cocod { object-fit: cover;
     
     }

        img .cocod{object-fit: cover;
     
}

.tituloRaff{

    display: block;
}

.raffAutor{

    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 2%;
    font-size: 16px;
    padding: 1%;
    line-height: 20px;
}

.raffAutor p{
    font-size: 14px;
    
}

.ohan{
    font-size: 16px ;
    font-weight: 500;
}

.jorge{
   
    font-weight: 460;
}

.raff img {
    overflow: visible;
}



 

        
       

      @media screen and (max-width: 595px)
  
  
  { 
    body{
        font-size: 14px;
        font-family: Roboto;}

        .main_container{background: rgb(255, 255, 255);
            width: 100%;
            height: 100%;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
            margin-left:  0%;
            }

.head{
        
        width: 100%;
        height: 22%;
        background: #ffffff;
        position: fixed;
        z-index: 3000;
        align-items: start;
        border-bottom: 1px solid #b6b6b6 ;
      
        }

.head {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
       }

       .logo {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
       }


  



.logo img{width: 68%;
           margin-top: -9.5%;
          
    
            }
  
a{text-decoration: none;
    color: #000000;}



img{border-radius: 1%;}

.container2{ margin-top: 50%;
            justify-content: center;
      
            }

.flexer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0%;
    padding: 2%;
    margin-top: -2%;
   
    gap: 30px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    
    }

.flexer_1{
    width: 100%;
    height: 60%;
   margin-left: 2%;
 
  padding: 5%;
    border-bottom: 1px solid rgb(144, 144, 144);
   
    
}

.flexer_1 h2{

    font-size: 36px;
   
}

.flexer_1 p{

    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 300;
    line-height: 24px;
}

.flexer_1 h6{

    font-size: 20px;
    padding-bottom: 15px;
}

.flexer_1 img{
    width: 90%;
  
    
}

.flexer_2{
    width: 100%;
    height: 60%;
   margin-left: 2%;
    border-bottom: 1px solid rgb(144, 144, 144);
}

.flexer_2 img{
    width: 90%;
}

.block1{padding-bottom: 5px;}

.block2{padding-bottom: 5px;}

.block1-1{padding-bottom: 90px;}

.block2-1{padding-bottom: 40px;}


         

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 10%;
   
    }

.div1{
    width: 90%;
    height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   margin-top: -5%;
    justify-content: center;
    align-items: center;
}

.div1 img{width: 100%;
            height: 365px;
       }

.divh6{width: 100%;
        height: 15%;
       /* margin-bottom: -6%;*/
    
    
}

.divh6 h5{font-size: 24px;
    line-height: 32px;
font-weight: 700;
padding: 2%;

}

.imagenesTotales{

    width: 100%;
    height: 50%;
    margin-top: -28%;
    
}
 
 img {
    width: 100%;
    height: auto;
    object-fit: cover;
        
     }

     .cocod { object-fit: cover;
     
     }

        img .cocod{object-fit: cover;}

        .tituloRaff{

            display: block;
        }
        
        .raffAutor{
        
            margin-top: 0%;
            margin-left: 1%;
            margin-bottom: 0%;
            font-size: 18px;
            padding: 1%;
            line-height: 20px;
        }
        
        .raffAutor p{
            font-size: 14px;
            margin-bottom: 2%;
            
        }
        
        .ohan{
            font-size: 16px ;
            font-weight: 500;
        }
        
        .jorge{
           
            font-weight: 460;
            margin-bottom: 2%;
        }
        
        .raff img {
            overflow: visible;
        }
/*MMMEEENNNUUU DDEE NNAAVVEEGGAACCIIOONN*/

        .menu {position: fixed;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 2rem;
            background-color: #ececec;
            margin-bottom: -36%;
            width: 100%;
            height: 1%;
            font-size: 20px;
            border-bottom: 1px solid rgb(196, 195, 195);
          
        }


        .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
       
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
        width: 100%;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
        
    
    }