@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .main_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        text-align: center;
        margin-left: 2%;
        font-family: roboto;
        background: #fefff1;
       
        
        
        }
    
        .fixed{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            position: fixed;
            background: rgb(255, 255, 255);
            justify-content:center;
            border-bottom: 1px solid #b6b6b6 ;
            z-index: 9000;
           }
        
         
        
        .logo{
            display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
              
            }
    
            .logo img{width: 82%;
                margin-top: 10.5%;
         
                 }
    
    
    .titulo{margin-top: 13%;
                display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            max-width: 990px;
        
        padding: 2%;}


    .titulo h1 {font-size: 64px;
                font-family: Poppins;
                font-weight: 600;
              
                letter-spacing: 12px;}

      

.titulo p{    margin-top: 10%;
             font-size: 28px;
             padding: 4%;
            font-family: Roboto;
            font-weight: 500;
            line-height: 32px;
        max-width: 860px;
            z-index: 5000;
        color: rgb(0, 0, 0);
  
    }
 
    

.kondy_1{

    width: 82%;
   
}
 

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    max-width: 56%;
   
    }

 
 img {
    width: 200px;
        margin: 20px;
        object-fit: cover;
     }


     .flex-container p{

        font-size: 24px;
        line-height: 36px;
        padding: 2%;
        font-weight: 300;
        text-align: left;
       
     }

     span{

        font-weight: 500;
     }

     .kondy_2{ 
        
        width: 40%;
        padding: 1%;
    
    }

    
    .kondy_3{ 
        
        width: 90%;
        padding: 1%;
    
    }
    .kondy_4{ 
        
        width: 100%;
        padding: 2%;
        margin-top: 10% ;
        margin-bottom: 30% ;
    
    }



a{
    text-decoration: none;
    color: black;
}

 .lecciones{margin-bottom: 10%;}

@media screen and (max-width: 565px)
  
  
{
    body{
        font-size: 14px;
        font-family: Roboto;}
        
    .main_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        text-align: center;
       
        font-family: roboto;
        background: #ededed;
       
        
        
        }
    
        .fixed{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            position: fixed;
            background: rgb(255, 255, 255);
            justify-content:center;
            border-bottom: 1px solid #b6b6b6 ;
            z-index: 9000;
           }
        
         
        
        .logo{
            display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
              
            }
    
            .logo img{width: 82%;
                margin-top: 10.5%;
              
         
                 }
    
    
    .titulo{margin-top: 40%;
                display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
        
        padding: 2%;}


    .titulo h1 {font-size: 40px;
                font-family: Poppins;
                font-weight: 600;
                letter-spacing: 8px;}

    

.lorem p{    margin-top: 10%;
             font-size: 24px;
             padding: 4%;
            font-family: Roboto;
            font-weight: 400;
            line-height: 32px;
        max-width: 448px;
            z-index: 5000;
        color: rgb(0, 0, 0);
     
        
    }
 
    




.fotoPortada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    margin-top: 4%;
    z-index: 4000;
   width: 100%;
    padding: 2%;
}

.kondy_1{

    width: 82%;
   
}
 

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
    max-width: 96%;
   
    }

 
 img {
    width: 200px;
        margin: 20px;
        object-fit: cover;
     }


     .flex-container p{

        font-size: 24px;
        line-height: 36px;
        padding: 2%;
        font-weight: 300;
        text-align: left;
       
     }

     span{

        font-weight: 500;
     }

     .kondy_2{ 
        
        width: 90%;
        padding: 1%;
    
    }

    
    .kondy_3{ 
        
        width: 90%;
        padding: 1%;
    
    }

   .recuadros{
        
        background: rgb(188, 197, 219);
        margin-top: 10%;
    
        }


.titulo1{background: rgb(208, 219, 232);
         padding: 10px;
         margin: 16px;
         
        }

        .titulo1 p {width: 92%;}

.titulo2{background: rgb(208, 219, 232);
        padding: 10px;
        margin: 16px;
       
    }

    .titulo2 p {width: 92%;}

.lecciones {display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items:center;
            margin-top: 6%;
            border: 0.5px solid rgb(255, 231, 158);
            border-radius: 1%;
            padding: 1%;
            width: 82%;
         height: 360px;
            background: rgb(255, 255, 239)
            ;
        }

.fotoLecciones{width: 100%;
               }

                .fotoLecciones img{border-radius: 5%;
                }

                .kondy_4 img{width: 30%;}

.leccionesTexto{width: 100%;
   }

  


        .leccionesTexto  p{ 
            line-height: 22px;
            font-size: 18px;
            margin-left: 0;}



a{
    text-decoration: none;
    color: black;
}

.lecciones{margin-bottom: 10%;}

        
 }